body {
  // background-color: red;
}

.title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1.25rem;
  color: #878787;
  font-weight: 700;
}
.mt-60 {
  margin-top: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fs_24 {
  font-size: 1.5rem;
}

.clr_green {
  color: #03c988;
}
.clr_blue {
  color: #15749c;
}
p {
  color: #393939;
  line-height: 22px;
}
header {
  .date {
    color: #03c988;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .ev_my {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .venue {
    font-size: 1rem;
  }
  nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    .nav-link {
      color: #fff;
    }
  }
  .bg-dark {
    background-color: #03c988 !important;
  }
}

main {
  ul.custom {
    list-style-image: url("/bullet.svg");
  }
  .bg_light_green {
    margin-top: -20px;
    background-color: #c6ffec;
    max-height: 440px;
    .slider {
      img {
        object-fit: cover;
        height: 440px;
      }
    }
  }
  .bg_blue {
    background: #15749c;
  }
  ul.sh {
    li {
      margin-bottom: 4px;
    }
  }

  // section ex profile
  section.ex_profile {
    background: #15749c;

    .imgbox {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  .download_section {
    .ds_header {
      background-color: #03c988;
      border-radius: 10px 10px 0 0;
    }
    .ds_body {
      background-color: #d9f4ff;
      border-radius: 0 0 10px 10px;
      min-height: 400px;
      .ds_list {
        padding: 10px 0;
        color: #15749c;
        border-bottom: 1px dashed #15749c;
      }
    }
  }
}
