body {
  // background-color: red;
}
.btn-primary{
  background-color: #13005a !important;
  border-color: #13005a !important;
}

.title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1.25rem;
  color: #878787;
  font-weight: 700;
}
.mt-60 {
  margin-top: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fs_24 {
  font-size: 1.5rem;
}

.clr_green {
  color: #64b355;
}
.clr_blue {
  color: #0077bd;
}
p {
  color: #393939;
  line-height: 22px;
}

// dropdown navbar
header {
  .date {
    color: #64b355;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .ev_my {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .venue {
    font-size: 1rem;
  }

  

  nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    .nav-link {
      color: #fff;
    }
    .dropdown-menu {
      border-top: 4px solid #0077bd;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      display: block;
      // max-height: 0;
      &.show {
        // max-height: 500px;
        visibility: visible;
        opacity: 1;
        top: 100%;
        margin-top: 10px;
      }
    }
  }
  .bg-dark {
    background-color: #64b355 !important;
    z-index: 9;
  }
}

main {
  min-height: 600px;
  ul.custom {
    list-style-image: url("/bullet.svg");
  }
  .bg_light_green {
    margin-top: -20px;
    background-color: #eaf4e7;
//     background: rgb(4,87,137);
// background: linear-gradient(25deg, rgba(4,87,137,1) 0%, rgba(0,119,189,1) 50%, rgba(100,179,85,1) 100%);

    // max-height: 440px;
    .slider {
      img {
        object-fit: cover;
        height: 440px;
      }
    }
  }
  .bg_blue {
    background: #0077bd;
  }
  ul.sh {
    li {
      margin-bottom: 4px;
    }
  }

  // section ex profile
  section.ex_profile {
    background: #0077bd;

    .imgbox {
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.04);
      }
    }
  }
  section.show_facts {
    background: #d9f4ff;
    background-image: url("/bg-1.png");
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-blend-mode: luminosity;
    .devider {
      border-left: 2px solid rgb(100 179 85 / 31%);
    }
    .sf_counter {
      font-size: 3rem;
      text-align: left;
      font-weight: 700;
      color: #64b355;
    }
    .text-dark {
      font-size: 1.2rem;
    }
  }

  .download_section {
    .ds_header {
      background-color: #64b355;
      border-radius: 10px 10px 0 0;
    }
    .ds_body {
      background-color: #d9f4ff;
      border-radius: 0 0 10px 10px;
      min-height: 400px;
      .ds_list {
        padding: 10px 0;
        color: #0077bd;
        border-bottom: 1px dashed #0077bd;
      }
    }
  }
}

.partner-section{
  .partner-logo{
    border: 1px solid rgb(0 0 0 / 15%);
    width: 100%;
  }
}

.innerpage {
  .bg_subheader {
    margin-top: -20px;
    max-height: 175px;
    background: linear-gradient(90.58deg, #13005a 43.71%, #64b355 97.68%);
  }
}

.inner_page__ex_profile {
  .card {
    background-color: #f3efff;
    border: 0;
    .card-title {
      color: #13005a;
    }
  }
}

.inner_page__ex_countries {
  .ex_country_box {
    background: #13005a;
    border-radius: 10px;
    margin-bottom: 30px;
    .ex_country_box__inner {
      background: #64b355;
      color: #fff;
      border-radius: 30px 60px;
      padding: 30px 0;
      text-align: center;
      font-size: 20px;
    }
  }
}
